.wrapper {
  width: 90%;
  background: var(--color-text-primary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 101;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.header {
  padding: 1rem;
  background: var(--color-main);
  color: var(--color-text-primary);
}

.header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.content {
  padding: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}
