.form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.control {
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}

.label,
.input {
  width: 100%;
  display: block;
}

.button {
  background: var(--color-main);
  font: inherit;
  border: 1px solid var(--color-main);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: var(--color-text-primary);
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: var(--color-main-active);
  border-color: var(--color-main-active);
}
