body {
  margin: 0;
  padding: 3.5rem 2rem 0 2rem;
  font-family: sans-serif;
}

:root {
  --color-main: #5101d1;
  --color-main-active: #6219d6;
  --color-logo: #dfcefc;
  --color-text-primary: #ffffff;
}

* {
  box-sizing: border-box;
}

.button {
  background: var(--color-main);
  font: inherit;
  border: 1px solid var(--color-main);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: var(--color-text-primary);
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.button:hover,
.button:active {
  background-color: var(--color-main-active);
  border-color: var(--color-main-active);
}

.form-control {
  margin-bottom: 1rem;
}

.form-controllabel {
  margin-bottom: 0.5rem;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}
