.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-main);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: var(--color-logo);
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.item {
  margin: 0 1rem;
}

.item:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
  color: var(--color-text-primary);
  padding: 0.25rem 0.5rem;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

.link:hover,
.link:active,
.link:global(.active) {
  background-color: var(--color-text-primary);
  color: var(--color-main);
  border-radius: 5px;
}
